**/.engineering_servers
**/.vs
**/Packages
**/obj
**/bin
**/pythonenv
**/*.log
**/inspectcode.*
**/ExtensionSettings.Schema.json
**/Language.Schema.json
!**/inspectcode.sh
node_modules
**/dist/
**/package-lock.json
coverage/
*.log
.DS_Store
